*
!Cargo.toml
!Cargo.lock
!rust-toolchain.toml
!src/
!src/**
!data/
!data/**
!vendor/
!vendor/**
!LICENSE
!THIRD-PARTY-NOTICES.md
!docs/
!docs/upstream-attribution.md
!scripts/
!scripts/docker-entrypoint.sh
